.is-hidden {
  display: none;
}

.show {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.photo-card {
  width: 23%;
  margin-right: 20px;
  margin-bottom: 15px;
  border: 3px solid rgb(170, 164, 164);
}

.photo-card:nth-child(4n) {
  margin-right: 0px;
}

.photo-card:nth-child(-n + 4) {
  margin-top: 85px;
}
.photo-card:nth-last-child(-n + 4) {
  margin-bottom: 0px;
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px 0 20px 0;

  background-color: rgba(250, 107, 5, 0.7);
}

input {
  width: 300px;
  height: 40px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  padding: 0px 15px;
  font-size: 18px;
  font-weight: 700;
}

placeholder {
  margin-left: 20px;
}

.btn-search {
  width: 100px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  background-color: rgb(170, 164, 164);
  color: white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-search:hover,
.btn-search:focus {
  color: rgb(252, 139, 58);
  background-color: black;
}

.card__img {
  display: block;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

.info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
}

.info-item + .info-item {
  margin-left: 20px;
}

.load-more {
  width: 150px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  background-color: rgb(170, 164, 164);
  color: white;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more:hover,
.load-more:focus {
  color: rgb(252, 139, 58);
  background-color: black;
}

.end-gallery {
  margin-top: 20px;
  font-size: 36px;
  color: rgba(250, 107, 5, 0.7);
}
